<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Todos</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/flatly.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" /> 
</head>
<body>
    <div>
        <div class="container-fluid" id="wrapper">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4" id="content">
                    <div class="text-center head">
                        <h1><i class="fa fa-check-square-o"></i>Completed Todos</h1>
                        <hr class="hr hr-blurry" style="background-color: #034777; border-color:#034777" /><br>
                    </div>
    
                    <div class="text-center">
                        {% set completed_todo_list = completed_todos|list %}
                        {% if completed_todo_list|length == 0 %}
                            <p>The data for completed todos is unavailable.</p>
                        {% else %}
                            {% for todo in completed_todo_list %}
                            <p>
                                <input class="input-c" type="checkbox" {% if todo.complete %}checked{% endif %} onclick="return false;">
                                {{ todo.text }}
                            </p>
                            {% endfor %}
                        {% endif %}
                    </div><br>
                    <div class="text-center">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ url_for('not_completed') }}" type="button" class="btn btn-secondary btn-c">NotCompleted</a>
                            <a href="{{ url_for('filter_todo') }}" type="button" class="btn btn-secondary btn-c">Filtered </a>
                            <a href="{{ url_for('menu') }}" type="button" class="btn btn-secondary btn-c"><span class="caret"></span></a>
                        </div>
                </div>

    <br><hr class="hr hr-blurry" style="background-color: #034777; border-color:#034777" />
<div class="text-center"> Copyright &copy; 2024 <b>My Todo-s</b>.
<br> <small class="text-muted text-c">Developed by <a href="https://www.linkedin.com/in/debugfinder/"><b>Debugfinder</b></a></small> </div>
</div>        
</div>
            </div>
            <br>
            <br>
            </div>
            </div>
</body>
</html>
